table {
  border-spacing: 2px;
  table-layout: fixed;
  
}


.hero-image{
  height: 2em;
  padding: 0px;
  pointer-events: none;
  cursor: default;
}

.hero-box{
  display: inline-block;
  cursor: pointer;
}

