.heroes-table{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.heroes-table h2{
  text-align: center;
}
.heroes-table h3{
  text-align: center;
}
.heroes-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}


.hero-box{
  position: relative;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;

}

.hero-image{
  position: relative;
  top: 0;
  left: 0;
  height: 2em;
  padding-right: 5px;
  pointer-events: none;
  cursor: default;
  
}

.favorite-star{
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 50px;
  background-color:transparent;
}

@media only screen and (max-width: 576px) {
  .heroes-table{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .heroes-table h2{
    text-align: center;
    font-size: 75%;
  }
  .heroes-table h3{
    text-align: center;
    font-size: 75%;
  }
}