.home-information p{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 576px) {
  .home-information p{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 75%;
  }

  
}