.home-information p{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.home-information a:link{
  color: red;
}
.home-information a:visited{
  color: darkred;
}
.home-information a:hover{
  color: darkred;
}
@media only screen and (max-width: 576px) {
  .home-information p{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 75%;
  }

  
}