.nav-menu{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}

.nav-menu ul{
  list-style: none;
  text-align: center;
}
.nav-menu li{
  display:inline-block
}
.nav-menu a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  margin-right: 25px;
  text-decoration: none;
  font-size: 17px;
  list-style-position:inside;
  border: 1px solid black;
}

.nav-menu a:hover{

  font-weight: 500;
}

.nav-menu a:active {
  background-color: silver;
}
#menu-button{
  margin-left: 50px;
}

@media only screen and (max-width: 576px) {
  .nav-menu{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: inline-block;
  }
  .nav-menu a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin-right: 5px;
    text-decoration: none;
    font-size: 75%;
    list-style-position:inside;
    border: 1px solid black;
  }
}